{% extends "account/base.html" %}

{% block head_title %}Password Reset{% endblock %}
{% load widget_tweaks %}
{% block whitebox %}
<h1 class="mb-5 text-3xl text-center">Recuperar Contraseña</h1>
<p class="mb-5 text-sm text-center">
  Ingrese su email y le enviaremos un link para recuperar su contraseña
</p>
<form method="POST" action="{% url 'account_reset_password' %}" class="flex flex-col mt-4">
  {% include "account/_render_form.html" %}
  {% include "account/_button.html" with text="Reset my password" %}
</form>
{% include "account/_links.html" %}
{% endblock %}


