{% load static %}
<nav class="bg-white dark:bg-black h-max md:h-20 sm-20 w-full shadow flex flex-col md:flex-row items-center justify-center md:justify-between fixed top-0 z-50 border-b dark:border-purple-600">

    <!-- LEFT NAV -->
    <div class="flex items-center justify-between w-full md:w-max px-70 py-2">
        
        <a href="#" class="mr-2 hidden md:inline-block">
            <img src="{% static 'images/logo.png' %}" alt="Circulo de hakmah logo" class="w-20 sm:w-30 lg:w-20 h-auto">
        </a>
        <a href="#" class="inline-block md:hidden">
            <img src="{% static 'images/logo.png' %}" alt="" class="w-20 h-20">
        </a>



    </div>
    <!-- END LEFT NAV -->

    <!-- MAIN NAV -->
    <a href="/"> <div>
        <h1 class="w-full text-5xl py-2 px-3 xl:px-12 cursor-pointer font-bold text-center inline-block text-purple-600 ">Circulo de Hokmah</h1>
    </div></a>
    <!-- END MAIN NAV -->

    <!-- RIGHT NAV -->
    <ul class="hidden md:flex mx-4 items-center justify-center">
        {%if not user.is_authenticated%}
        <li class="w-1/5 md:w-max text-center">
            <a href="{%url 'account_login'%}" class="inline-flex items-center justify-center p-1 rounded-full hover:bg-purple-200 dark:hover:bg-purple-400 mx-1">
            <span class="mx-2 font-semibold  text-black dark:text-amber-50">Iniciar Sesión</span>
            </a>
            <a href="{%url 'account_signup'%}" class="inline-flex items-center justify-center p-1 rounded-full  mx-1 dark:bg-dark-third bg-purple-600 dark:hover:bg-purple-400">
                <span class="mx-2 font-semibold text-white dark:text-amber-50 ">Registrarse</span>
            </a>
        </li>
        {%else%}
        <li>
            <div class="relative bg-gray-100 dark:bg-dark-third px-2 py-2 w-10 h-10 sm:w-11 sm:h-11 lg:h-10 lg:w-10 xl:w-max xl:pl-3 xl:pr-8 rounded-full flex items-center justify-center cursor-pointer">
                <i class='bx bx-search-alt-2 text-xl xl:mr-2  dark:text-dark-txt'></i>
                <input type="text" placeholder="Buscar" class="outline-none border-none bg-transparent hidden xl:inline-block placeholder-gray-600 dark:placeholder-dark-txt">
            </div>

        </li>

        <li>
            <div x-data="{open:false}">
            <div @click="open=true" class="text-xl grid place-items-center dark:bg-purple-600 bg-gray-200 dark:text-dark-txt rounded-full mx-1 p-3 cursor-pointer hover:bg-gray-300 relative ring-1 ring-black dark:ring-dark-txt">
                <i class='bx bx-bell'></i></div>

                <div x-show="open" @click.away="open=false" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg dark:bg-dark-second bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="py-1" role="none">
                    <a href="{% url 'users:profile' user.username %}" class="text-gray-700 dark:text-dark-txt block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Perfil</a>
                    <form method="POST" action="#" role="none">
                        <a href="{% url 'account_logout' %}" class="text-gray-700 dark:text-dark-txt block w-full text-left px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-3">
                        Cerrar Sesión
                        </a>
                    </form>
                    </div>
                </div>
            </div>

        </li>
        {%endif%}
    </ul>
    <!-- END RIGHT NAV -->

</nav>
